# Dependency directories
node_modules/
jspm_packages/

# Logs
*.log
*.txt

# Optional npm cache directory
.npm

# Next.js build output
.next
out

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.